@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

h1{
    font-size: 48px;
    font-family: 'Cherry Bomb One', cursive;
    font-weight: 400;
    color: rgb(38, 202, 147);
}